.wcm_widget{
	border: 1px solid #ccc; 
}
.wcm_widget_esq{
	border: 1px solid #ccc;
	width:372px;
	height:auto;
	float:left;
	margin:5px 5px 5px 0px;
}
.wcm_widget_dir{
	border: 1px solid #ccc;
	width:372px;
	height:auto;
	float:right;
	margin:5px 0px 5px 0px;
}
.wcm_corpo_widget{
	width:auto;
	height:auto;
}
.wcm_corpo_widget_single{
	margin:5px;
}
.wcm_title_widget {
	width:auto;
	height:35px;
	min-height: 10px;
	padding: 10px;
	font-size: 14px;
}
.wcm_title_text_widget{
	color:#333;
	float:left;
	width: 90%;
	overflow: hidden;
}
.wcm_opcoes_widget{
	float:right;
	padding:5px 10px 0px 0px;
}
.wcm_opcoes_widget a{
	color: #0A8ECC;
	padding:5px;
}
.wcm_opcoes_widget a:hover{
	color: #777;
}
.wcm_controles_widgets{
	float:right;
}
.wcm_controles_widgets ul{
	padding: 0px;
	margin: 0px;
}
.wcm_controles_widgets a {
	padding-left:5px;
	border: none;
	color: #FFF;
	text-decoration: none;
}
.wcm_controles_widgets ul li {
	display: inline;
	list-style: none;
}
.wcm_controles_widgets ul li ul {
	background:#fff;
	border:1px solid #ccc;
	border-radius: 5px;
	display:none;
	padding:5px;
	position:absolute;
	width:auto;
	min-width:150px;
	margin-left: -130px;
	text-align: right;
	list-style:none;
	-moz-box-shadow:1px 1px 1px 1px #e4e4e4;
  	-webkit-box-shadow:1px 1px 1px 1px #e4e4e4;
  	box-shadow:1px 1px 1px 1px #e4e4e4;
	z-index:99999;
}
.wcm_controles_widgets ul li ul li a{
	padding: 3px;
	display: block;
	color: #000;
}
.wcm_controles_widgets ul li ul li a:hover {
	background-color:#eee;
}
.wcm_exibe_paginacao{
	padding: 0px 0px 0px 10px;
	color:#777;
}
.wcm_exibe_paginacao a{
	color: #0A8ECC;
}
.wcm_exibe_paginacao a:hover{
	color: #777;
}
.wcm_rodape_widget{
	width:auto;
	height:40px;
}
.wcm_acoes_rodape{
	float:right;
	padding: 10px;
}
.wcm_acoes_rodape a{
	padding: 0px 0px 0px 10px;
	color: #0A8ECC;
}
.wcm_acoes_rodape a:hover{
	padding: 0px 0px 0px 10px;
	color: #777;
}
.wcm_pipe{
padding: 0px 0px 0px 10px;
color: #0A8ECC;
}
.wcm_filtro {
	width:auto;
	height:auto;
	padding:7px;
}
.wcm_filtro input{
		width:300px;	
}
.wcm_filtro a{
	padding: 0px 0px 0px 10px;
	color: #777;
}
.wcm_filtro a:hover{
	padding: 0px 0px 0px 10px;
	color: #0A8ECC;
}
.wcm_topo_tabela {
	width:auto;
	height:auto;
	padding:0px 10px 10px 10px;
}
.wcm_paginacao{
	width:auto;
	height:auto;
	background-color:#fff;
	padding:0px 0px 0px 10px;
	color:#777;
}
.wcm_paginacao .wcm_pagina{
	width:20px;
}