body {
    background-image: url(/portal/resources/customlogin/fundo_natal.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

img#loginLogo{
	background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px #9696969c;
}

div#logotxt{
	background: #d6062b;
    font-weight: bold;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px #ffffff;
}

hr{
	border-top: 1px dashed #fff!important;
}

div#divCustom{	
	background-color: #ffffff99;;
}
